{% extends "base.html" %} {% block title %}TEİAŞ{% endblock %} {% block content
%}
<style>
  #butonid {
    border-style: ridge;
    border-width: 2px;
    border-color: brown;
    position: relative;
    display: block;
    height: 45px;
    width: 100px;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: wheat;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  #butonid:hover {
    color: whitesmoke;
  }
  #butonid::before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: 0.09s ease-in;
  }
  #butonid:hover::before {
    top: 0;
  }
  #email {
    border-style: inset;
    border-width: 2px;
    border-color: blue;
  }
  #password {
    border-style: inset;
    border-width: 2px;
    border-color: blue;
  }
</style>
<form method="POST">
  <h3 style="font-size: 33px" align="center">GİRİŞ</h3>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="E-mail giriniz."
    />
  </div>
  <div class="form-group">
    <label for="password">Şifre</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Şifre giriniz."
    />
  </div>
  <br />
  <button
    id="butonid"
    style="font-size: 17px"
    type="submit"
    class="btn btn-warning"
  >
    Gönder
  </button>
</form>
{% endblock %}
